{% extends "PisandoFuerte/index.html" %}


{% block titulo %}
<h1 class="mb-5">Puma</h1>
{% endblock titulo %}


{% block contenido %}

<table>
    <tr>
        <td width="200"><h2>Puma</h2></td>
        <td>
            <a
            href="{% url 'puma_create' %}"
            class="btn btn-primary btn-sm"
            ><i class="fa fa-plus fa-lg" title="Crear"> </i>
            </a>
        </td>        
    </tr>
</table>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Modelo</th>
            <th>Talle</th>
        
        
        </tr>
    </thead>
    <tbody>
    {% for p in puma_list  %}
        <tr>
            <td>{{ p.id }}</td>
            <td>{{ p.modelo }}</td>
            <td>{{ p.talle }}</td>
            <td>
                <a href="{% url 'puma_update' p.id %}" class="btn btn-primary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                    <i class="fa fa-edit fa-sm" title="Editar"></i> Editar
                </a>
                <a href="{% url 'puma_delete' p.id %}" class="btn btn-danger" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                    <i class="fa fa-trash fa-sm" title="Eliminar"></i> Eliminar
                </a>                
            </td> 
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock contenido %}